<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8"></meta>
	<title>明細一覧｜家計簿ちゃん</title>
	<link href="/css/common/reset.css" th:href="@{/css/common/reset.css}" rel="stylesheet"></link>
	<link href="/css/common/layout_after_login.css" th:href="@{/css/common/layout_after_login.css}" rel="stylesheet"></link>
	<link href="/css/record/list.css" th:href="@{/css/record/list.css}" rel="stylesheet"></link>
	<link href="/css/record/register.css" th:href="@{/css/record/register.css}" rel="stylesheet"></link>
</head>
<body>
	<header th:include="/common/layout_after_login.html :: header"></header>
	<div class="main">
		<div class="search">
			<a id="date" class="search-column">日付</a>
			<a id="category-type" class="search-column">収支</a>
			<a id="category" class="search-column">カテゴリ</a>
			<span id="deposit-account" class="search-column">支払元</span>
			<span id="withdrawal-account" class="search-column">支払先</span>
			<span id="amount" class="search-column">金額</span>
			<span id="memo" class="search-column">メモ</span>
			<span id="search" class="search-coulum"><img src="../../../img/search.png" th:src="@{/img/search.png}" alt="虫眼鏡のイラスト"/>検索</span>
		</div>
		<div class="table">
			<table>
				<tr>
					<td>編集</td>
					<td>日付</td>
					<td>収支</td>
					<td>カテゴリ</td>
					<td>支払元</td>
					<td>入金先</td>
					<td>金額</td>
					<td>メモ</td>
				</tr>
				<tr th:each="recordBean:${recordBeans}">
					<td><img class="pencil" src="../../../img/pencil.png" th:src="@{/img/pencil.png}" alt="鉛筆のイラスト" th:attr="data-record-id=${recordBean.id}"/></td>
					<td th:text="${recordBean.date}" th:id="${'record-list-date-' + recordBean.id}"></td>
					<td th:text="${recordBean.categoryTypeAlias}" th:id="${'record-list-categoryType-' + recordBean.id}"></td>
					<td th:text="${recordBean.accountTitle}" th:id="${'record-list-accountTitle-' + recordBean.id}"></td>
					<td th:text="${recordBean.withdrawalAccount}" th:id="${'record-list-withdrawalAccount-' + recordBean.id}"></td>
					<td th:text="${recordBean.depositAccount}" th:id="${'record-list-depositAccount-' + recordBean.id}"></td>
					<td th:text="${recordBean.amount}" th:id="${'record-list-amount-' + recordBean.id}"></td>
					<td th:text="${recordBean.memo}" th:id="${'record-list-memo-' + recordBean.id}"></td>
				</tr>
			</table>
			<div class="paging-area">
			<a class="paging-link" th:if="${pagingNavi.existsPreviousPage}" th:href="${pagingNavi.previousPageLinkHref}">前のページ</a>
			<div class="page-number-element">
				<span th:each="link : ${pagingNavi.pageNumberLinkList}" >
				<span id="pageNumberElement" th:unless="${link.current}"><a class="clickable-number" th:href="${link.pageNumberLinkHref}" th:text="${link.pageNumberElement}">${link.pageNumberElement}</a></span>
				<span id="pageNumberElement" th:if="${link.current}" th:text="${link.pageNumberElement}">${link.pageNumberElement}</span>
			</span>
			</div>
			<a class="paging-link" th:if="${pagingNavi.existsNextPage}" th:href="${pagingNavi.nextPageLinkHref}">次のページ</a>
			</div>
		</div>
	</div>
	<div id="jsiModalDialog">
		<div class="record-edit-overlay">
		</div>
		<div class="record-edit-dialog">
			<div th:include="/common/layout_record_edit.html :: record-edit"></div>
		</div>	
	</div>
	<script type="text/javascript" src="/front/js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="/front/js/record/list.js"></script>
</body>
</html>