<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"></meta>
    <title>家計簿をつける｜家計簿ちゃん</title>
	<link href="/css/common/reset.css" th:href="@{/css/common/reset.css}" rel="stylesheet"></link>
	<link href="/css/common/layout_after_login.css" th:href="@{/css/common/layout_after_login.css}" rel="stylesheet"></link>
	<link href="/css/record/register.css" th:href="@{/css/record/register.css}" rel="stylesheet"></link>
</head>

<body>
	<header th:include="/common/layout_after_login.html :: header"></header>
    <div class="main">
        <form th:action="@{/record/register/confirm}" action="#" method="post">
        	<h1>家計簿をつける</h1>
        	
        	<div class="block">
        		<a href="/front/record/register/?categoryType=spend" class="expend">
	        		<div class="block_element">
	        		支出
	        		</div>
	        	</a>
        		<a href="/front/record/register/?categoryType=income">
	        		<div class="block_element">
	        		収入
	        		</div>
	        	</a>
        		<a href="/front/record/register/?categoryType=move">
	        		<div class="block_element">
	        		振替
	        		</div>
	        	</a>
        	</div>
        	
        	<div class="form-element">
	        	<span class="element-label">日付</span>
	        	<div class="element-value">
	        		<input type="date" name="date" th:value="${date}"></input>
		        	<span la:errors="date"/>
	        	</div>
        	</div>
        	
        	<div th:unless="${categoryType.code().equals('MOVE')}" class="form-element">
	        	<span class="element-label">カテゴリ</span>
	        	<div class="element-value">
		        	<select name="accountItemId" th:value="${accountItemId}">
	        			<option value="">選択してください</option>
		        		<option th:each="accountItemBean:${accountItemBeans}" th:text="${accountItemBean.title}" th:value="${accountItemBean.id}" th:selected="${accountItemBean.id == accountItemId}"></option>
		        	</select>
		        	<span la:errors="accountItemId"/>
	        	</div>
        	</div>
        	
        	<div class="form-element">
	        	<span class="element-label">金額</span>
	        	<div class="element-value">
	        		<input type="number" name="amount" th:value="${amount}">円</input>
		        	<span la:errors="amount"/>
	        	</div>
        	</div>
        	
        	<div th:if="${categoryType.code().equals('SPEND') || categoryType.code().equals('MOVE')}" class="form-element">
        	<span class="element-label">支払い元</span>
        		<div class="element-value">
	        		<select name="withdrawalAccountId">
	        			<option value="">選択してください</option>
	        			<option th:each="assetBean:${assetBeans}" th:text="${assetBean.name}" th:value="${assetBean.id}" th:selected="${assetBean.id == assetId}"></option>
	        		</select>
	        		<span la:errors="withdrawalAccountId"/>
        		</div>
        	</div>
        	
        	<div th:if="${categoryType.code().equals('INCOME') || categoryType.code().equals('MOVE')}" class="form-element">
        	<span class="element-label">入金先</span>
        		<div class="element-value">
	        		<select name="depositAccountId">
	        			<option value="">選択してください</option>
	        			<option th:each="assetBean:${assetBeans}" th:text="${assetBean.name}" th:value="${assetBean.id}" th:selected="${assetBean.id == assetId}"></option>
	        		</select>
	        		<span la:errors="depositAccountId"/>
        		</div>
        	</div>
        	
        	<div class="form-element">
        	<span class="element-label">メモ</span>
        		<div class="element-value">
        			<input type="text" name="memo" th:value="${memo}"></input>
	        		<span la:errors="memo"/>
        		</div>
        	</div>

			<input type="hidden" name="categoryType" th:value="${categoryType}"></input>
        	
			<button type="submit" name="button">登録</button>
        	
        </form>
    </div>
</body>

</html>
