<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8"></meta>
	<title>確認：ユーザー登録｜家計簿ちゃん</title>
	<link href="/css/reset2.css" th:href="@{/css/reset2.css}" rel="stylesheet"></link>
	<link href="/css/confirm.css" th:href="@{/css/complete.css}" rel="stylesheet"></link>
</head>
<body>
	<header>
		<div class="logo">
			<a href="#top-page">家計簿<span class="chan">ちゃん</span></a>
		</div>
		<div class="headline"></div>
	</header>
	<div class="main">
		<div class="complete">
			<h1>完了</h1>
			<a href="#top-page">マイページへ</a>
		</div>
	</div>
</body>
</html>