.button-wrapper {
    width: 100%;
    position: absolute;
    bottom: 40%;
    text-align: center;
    min-width: 987px;
}
.button {
    width: 400px;
    font-family: KTEGAKI;
    font-size: 30px;
    border: 2px solid #C08F63;
    background-color: #F4C091;
    border-radius: 23px;
    color: #fff;
    line-height: 40px;
    text-shadow: 0 2px 0px rgba(0, 0, 0, .3);
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.button:hover {
  border:2px solid #C08F63;
  background-color: #e3b286;
}
.button:active {
  background: #ddac7f;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
  color: #c19063;
  text-shadow: 0 3px  rgba(224,223,223,.5);
}
