<html>
<head>
	<meta charset="UTF-8"></meta>
</head>
<body>
	<div th:fragment="header">
	<div class="element">
			<div class="logo">
				<a href="#" th:href="@{/top/}">家計簿<span class="chan">ちゃん</span></a>
			</div>
	        <nav class="navigation">
	            <ul class="menu">
	                <li><a href="#meisai">明細</a></li>
	                <li><a href="#bunseki">分析</a></li>
	                <li><a href="#kategory">カテ<br></br>ゴリ</a></li>
	                <li><a href="#kouza">口座</a></li>
	                <li><a href="#account">アカ<br></br>ウント</a></li>
	            </ul>
	            <ul class="logout">
	                <li class="logout"><a href="/logout/" th:href="@{/logout/}">ログ<br></br>アウト</a></li>
	            </ul>
	        </nav>
        </div>
        <div class="headline"></div>
	</div>
</body>
</html>
