.complete {
    font-size: 20px;
    font-family: KTEGAKI;
    color: #565c6f;
    background-color: #FFFDFD;
    text-align: center;
    width: 60%;
    min-height: 283px;
    padding: 34px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10%;
    border: 1.5px solid rgba(151, 151, 151, 0.62);
    border-radius: 23px;
}
.complete h1 {
	font-size: 36px;
    margin-top: 69px;
}
.complete a {
    display: block;
    margin-top: 10%;
    color: #C08F63;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}
.complete a:hover {
	color: #F4C091;
}
