form {
    font-size: 20px;
    font-family: KTEGAKI;
    color: #565c6f;
    background-color: #FFFDFD;
    text-align: center;
    width: 60%;
    min-height: 283px;
    padding: 34px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10%;
    border: 1.5px solid rgba(151, 151, 151, 0.62);
    border-radius: 23px;
}
form h1 {
    font-size: 36px;
    margin-bottom: 15px;
}
.form-element {
    margin: 25px;
    width: 342px;
	margin-left: auto;
    margin-right: auto;
}
.element-label {
    float: left;
    width: 83px;
    text-align: left;
    margin-left: 25px;
}
.element-value {
    width: 151px;
    text-align: left;
    display: inline-block;
    margin-left: 83px;
}
input {
	width: 125px;
    border: 1px solid rgba(151, 151, 151, 0.62);
    border-radius: 3px;
}
select {
	width: 125px; 
}
.block{
    margin: 0;
    width: 546px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}
.block a {
    text-decoration: none;
	display: table-cell;
    border: 1.4px solid rgba(125, 123, 123, 0.61);
}
.block a:hover {
	background: #F4C091;
}
.block a:visited {
	background: #F4C091;
}
.block_element {
	width: 180px;
}
.block_element_expend {
	width: 180px;
}
.errors {
    display: block;
    margin-top: 2px;
    color: #f36262;
    font-size: 17px;
     width: 223px;
}
button {
    width: 300px;
    font-family: KTEGAKI;
    font-size: 20px;
    border: 2px solid #C08F63;
    background-color: #F4C091;
    border-radius: 23px;
    color: #fff;
    line-height: 30px;
    text-shadow: 0 2px 0px rgba(0, 0, 0, .3);
    outline: none;
    cursor: pointer;
    margin: 10px;
}
button:hover {
  border:2px solid #C08F63;
  background-color: #e3b286;
}
button:active {
  background: #ddac7f;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
  color: #c19063;
  text-shadow: 0 3px  rgba(224,223,223,.5);
}
