<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"></meta>
    <title>家計簿ちゃん</title>
	<link href="/css/reset2.css" th:href="@{/css/reset2.css}" rel="stylesheet"></link>
	<link href="/css/register.css" th:href="@{/css/top.css}" rel="stylesheet"></link>
</head>

<body>
	<header th:include="/common/layout_after_login.html :: header"></header>
    <div class="main">
        <form class="button" th:action="@{/record/register/}" action="#" method="post">
        <button type="submit" name="家計簿をつける">家計簿をつける</button>
        </form>
    </div>
</body>

</html>
