<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"></meta>
    <title>トップ｜家計簿ちゃん</title>
	<link href="/css/common/reset.css" th:href="@{/css/common/reset.css}" rel="stylesheet"></link>
	<link href="/css/common/layout_after_login.css" th:href="@{/css/common/layout_after_login.css}" rel="stylesheet"></link>
	<link href="/css/top/top.css" th:href="@{/css/top/top.css}" rel="stylesheet"></link>
</head>

<body>
	<header th:include="/common/layout_after_login.html :: header"></header>
    <div class="main">
        <div class="button-wrapper">
        <a class="button" th:href="@{/record/register/}">家計簿をつける</a>
        </div>
    </div>
</body>

</html>
