<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8"></meta>
	<title>ログイン｜家計簿ちゃん</title>
	<link href="/css/common/reset.css" th:href="@{/css/common/reset.css}" rel="stylesheet"></link>
	<link href="/css/common/layout_before_login.css" th:href="@{/css/common/layout_before_login.css}" rel="stylesheet"></link>
	<link href="/css/login/login.css" th:href="@{/css/login/login.css}" rel="stylesheet"></link>
</head>
<body>
	<header th:include="/common/layout_before_login.html :: header"></header>
	<div class="main">
		<form class="register-form" th:action="@{/login/doLogin}" action="#" method="post">
        	<h1>ログイン</h1>
        	<div class="form-element">
	        	<span class="form-label">メールアドレス</span>
	        	<div class="form-input">
					<input type="text" name="mailAddress" th:value="${mailAddress}" placeholder="メールアドレス"/>
					<span la:errors="mailAddress"/>
				</div>
			</div>
        	<div class="form-element">
	        	<span class="form-label">パスワード</span>
	        	<div class="form-input">
					<input type="password" name="password" th:value="${password}" placeholder="パスワード"/>
					<span la:errors="password"/>
				</div>
			</div>
        	<div class="form-element">
			<button type="submit" name="button">ログイン</button>
			</div>
		</form>
	</div>
</body>
</html>
